.letter-box {
    display: inline-block !important;
    width: 4.8em !important;
    text-align: center;
}

.letter-box--right {
    display: inline-block !important;
    width: 7.3em !important;
    text-align: center;
}

.letter-box--error {
    border: 3px solid red !important;
}

.number {
    width: 2em;
    display: inline-block;
}
